:root {
  --lightblue: #a8cbd1;
  --vanilla: #e1d7a2;
  --coralpink: #e88e83;
  --bittersweetshimmer: #be534b;
  --tiffany: #8ee0c9;
}
.qSection {
  background-color: var(--tiffany);
}
.container {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 3px;
  height: 100%; /* Ensure the grid takes up the full height of its container */
  width: 100%; /* Ensure the grid takes up the full width of its container */
}

.jeopardy-cell {
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(
    --vanilla
  ); /* Replace with your desired background color */
}
.add-row,
.add-col {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.add-row:hover,
.add-col:hover {
  background-color: #0056b3;
}
.column-name-input {
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
  background-color: var(--lightblue);
  color: white;
  font-weight: bold;
}
